.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #ADBAC5;
    border-color: #ADBAC5;
    border: none;
    box-shadow: none;
}


.form-control {
    height: auto !important;
    background: #FDFDFD;
    border-top: 1px solid #d8d8d8;
    font-size: 14px !important;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    display: block;
    min-height: auto !important;
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #d8d8d8;
        outline: 0;
        box-shadow: none !important;
    }

.control-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 2px;
    color: #83919C;
}

.field-icon {
    float: right;
    position: absolute;
    top: 34px;
    z-index: 10;
    right: 15px;
    font-size: 22px;
}

.sidebar-nav {
    background: #fff;
    padding: 30px 20px 0;
}

.pcustom {
    padding: 40px 0 40px 50px;
}

.card {
    border: 1px solid rgb(0 0 0 / 9%);
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 120px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #F4F4F4;
    background-image: none;
    text-align: center;
    border: 1px dotted #D0D0D0;
    border-radius: 15px;
}

    .dropify-wrapper .dropify-message {
        justify-content: center;
        align-items: center;
    }

.dropify-message i {
    font-size: 48px;
}

.tuser {
    padding-left: 20px;
}

    .tuser h4 {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }

    .tuser p {
        line-height: 14px;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }

.btncenter {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
}
/*
.btncenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/

.customcard {
    border: 1px solid #dcdde5;
    border-radius: 5px;
    background: #fff;
    position: relative;
    box-shadow: none;
}

.customcard1 {
    border: 0px solid #EFF0F6;
    border-radius: 20px;
    background: #fff;
    box-shadow: none;
}

.card.noborder {
    box-shadow: none;
    border: none;
}

.ptooltip {
    position: absolute;
    max-width: 390px;
    width: 390px;
    background: #F5F5F5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    border: 1px solid #E7E7E7;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

    .ptooltip h3 {
        color: #374957;
        font-size: 18px;
        font-weight: 600;
    }


.closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

    .closebtn a {
        color: #374957;
    }

        .closebtn a:hover {
            color: red;
        }

.ptooltip .form-control {
    background: #FDFDFD;
    border-top: 1px solid #EFF0F6;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    height: 42px;
}

.ptooltip .control-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 0px;
    color: #374957;
}

.sbtitle {
    font-size: 16px;
    font-weight: 600;
    color: #374957;
    display: inline-block;
}

.dview {
    float: right;
    margin-top: -10px;
    margin-bottom: 15px;
}

    .dview .form-control {
        min-height: 38px;
        background: #FDFDFD;
        border-top: 1px solid #EFF0F6;
        box-shadow: none;
        border-radius: 5px;
        padding: 5px 10px;
    }



.districtName-bar .districtName-bar-top h2.active {
    color: #374957;
}

.districtName-bar .districtName-bar-top h2 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 18px !important;
}

.districtNames h2 {
    font-size: 16px !important;
}

.districtNames h5 {
    font-size: 12px !important;
}

.districtName-bar .districtNames {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10rem;
}

    .districtName-bar .districtNames.is-grid {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
    }

    .districtName-bar .districtNames .districtName {
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        justify-content: flex-start;
        margin-right: 0.5rem;
    }

        .districtName-bar .districtNames .districtName h2,
        .districtName-bar .districtNames .districtName h5 {
            color: #6c757d;
            font-weight: 600;
            margin: 0;
        }

        .districtName-bar .districtNames .districtName h5 {
            display: inline-block !important;
            margin-left: 0.5rem;
            margin-top: 0.15rem;
            width: auto !important;
        }

        .districtName-bar .districtNames .districtName > * {
            align-self: center;
        }

        .districtName-bar .districtNames .districtName .delta {
            display: flex;
            flex-direction: row;
            margin-left: 0.5rem;
            margin-top: 4px;
        }

            .districtName-bar .districtNames .districtName .delta h6 {
                margin: 0;
            }

                .districtName-bar .districtNames .districtName .delta h6.confirmed {
                    color: rgba(220, 53, 69, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta h6.active {
                    color: rgba(0, 123, 255, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta h6.recovered {
                    color: rgba(40, 167, 69, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta h6.deceased {
                    color: rgba(108, 117, 125, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta h6.vaccianted {
                    color: rgba(219, 85, 129, 0.6);
                }

            .districtName-bar .districtNames .districtName .delta svg {
                stroke-width: 4;
                vertical-align: bottom;
                width: 10px;
            }

                .districtName-bar .districtNames .districtName .delta svg.confirmed {
                    color: rgba(220, 53, 69, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta svg.active {
                    color: rgba(0, 123, 255, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta svg.recovered {
                    color: rgba(40, 167, 69, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta svg.deceased {
                    color: rgba(108, 117, 125, 0.6);
                }

                .districtName-bar .districtNames .districtName .delta svg.vaccinated {
                    color: rgba(219, 85, 129, 0.6);
                }

            .districtName-bar .districtNames .districtName .delta > * {
                align-self: center;
            }

.btnviewall {
    padding: 15px 25px;
    border-radius: 25px;
    background: #fff;
    border: none;
    font-weight: 600;
    font-size: 12px;
    color: #0686F9;
}

ul.charttype {
    margin: 0px 0px 15px 0;
    padding: 0px;
    text-align: right;
}

    ul.charttype li {
        display: inline-block;
    }

        ul.charttype li a {
            width: 26px;
            display: inline-block;
            padding: 5px 5px 0px;
            border-radius: 2px;
            border: 1px solid #fff;
        }

            ul.charttype li a:hover {
                border: 1px solid #d8d8d8;
                background: #fff;
            }

            ul.charttype li a img {
                width: 100%;
                max-width: 20px;
            }

.table th, .table thead th {
    background: #f1f1f1;
}

.table {
    border: 1px solid #ededed;
    font-size: 14px;
}

.table-responsive {
    background: #fff;
}

.mr-10 {
    margin-right: 10px
}

.card-body {
    padding: 10px;
}

ul.charttype li a.active {
    background: #d9d9d9;
}

#divload {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 9999;
    background: rgba(0,0,0,0.25);
    /*background: url("https://thumbs.gfycat.com/LameDifferentBalloonfish-small.gif") no-repeat center center rgba(0,0,0,0.25);*/
}

    #divload img {
        position: relative;
        top: 25%;
    }

li.select2-selection__choice {
    font-size: 14px;
}

.select2-results__option { 
    font-size: 14px;
}