@model SupBusiness.Models.UserTask
@{
    ViewData["Title"] = "AddUserTask";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="page-inner">
        <div class="row page-titles">

            <h4>Add Activity List</h4>
            <span class="text-danger"> @TempData["Msg"]</span>
            <span id="txtUserId">@TempData["Fk_UserId"]</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form asp-action="AddUserTask">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Site Name</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="SiteName" value="@ViewBag.SiteName" />
                                        <input type="hidden" asp-for="SiteId" />
                                        <input type="hidden" asp-for="Pk_Id" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Assign To</label><span style="color:red;">*</span>

                                        @Html.DropDownListFor(m => m.LoginId, new SelectList(ViewBag.ddluser, "Value", "Text"), new { @class = "web form-control",@onchange="return getUserDetails()" })

                                        @*<input type="text" class="form-control" asp-for="LoginId" onchange="return getUserDetails()" />*@
                                        @*<input type="hidden" asp-for="Pk_Id" />*@
                                    </div>
                                </div>
                              @*  <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Name</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="Name" readonly />
                                    </div>
                                </div>*@
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Activity</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="TaskName" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Activity Details</label><span style="color:red;">*</span>
                                        <textarea type="text" class="form-control" asp-for="TaskDetails"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">Start Date</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="StartDate">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">End Date</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="EndDate">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="email2">&nbsp;</label>
                                        
                                            <input type="submit" class="btn btn-success" name="Save" value="Save" id="Save" onclick="return fvalidate()" />
                                        

                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
@*<script src="~/AssociatePanel/assets/plugins/jquery/jquery.min.js"></script>*@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $('#StartDate').datepicker({
        dateFormat: 'dd/mm/yy',
        //maxDate: 0,
        changeYear: true,
        changeMonth: true,
        yearRange: "c-100:c+10"
    });
    $('#EndDate').datepicker({
        dateFormat: 'dd/mm/yy',
       // maxDate: 0,
        changeYear: true,
        changeMonth: true,
        yearRange: "c-100:c+10"
    });
    $(document).ready(function () {
        var txtId = $('#txtUserId').text();
        if (txtId != null || txtId != undefined) {
            getUserDetails(txtId);
        }

    })
    function getUserDetails(txtId) {
        if (txtId != null || txtId != undefined) {
            var loginId = txtId;
        }
        else {
            var loginId = $('#LoginId').val();
        }

        $.ajax({
            url: '/Admin/GetUserDetails',
            data: { loginId: loginId },
            type: 'GET',
            success: function (response) {
                if (response != null) {
                    console.log(response);
                    if (response != null) {
                        $("#Name").val(response.name);
                    }
                    else {
                        alert('Somthing went wrong');
                    }
                }
            },
            Error: function () {

            }
        });
    }
    function fvalidate() {

        if ($('#LoginId').val() == '' || $('#LoginId').val() == null) {
            $('#LoginId').focus();
            return false;
        }
        if ($('#TaskName').val() == '' || $('#TaskName').val() == null) {
            $('#TaskName').focus();
            return false;
        }
        if ($('#TaskDetails').val() == '' || $('#TaskDetails').val() == null) {
            $('#TaskDetails').focus();
            return false;
        }
        if ($('#StartDate').val() == '' || $('#StartDate').val() == null) {
            $('#StartDate').focus();
            return false;
        }
        if ($('#EndDate').val() == '' || $('#EndDate').val() == null) {
            $('#EndDate').focus();
            return false;
        }
    }
</script>
