@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Dashboard</h4>



    </div>
</div>

<div class="content">
    <div class="page-inner">
        <div class="row" style="font-size:20px;text-align: center;">
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/UserRegistration"><i class="fa fa-user" title="User Registration"></i></a>
                </div>

            </div>
            <div class="col-md-2" >
                <div class="card" style="padding:27px">
                    <a href="/Admin/SiteMaster"><i class="fa fa-home" title="Add Site"></i></a>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/AddUserTask"><i class="fa fa-copy" title="Add Task"></i></a>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/UserTaskList"><i class="fa fa-list" title="Task list"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>


