@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Dashboard</h4>



    </div>
</div>

<div class="content">
    <div class="page-inner">
        <div class="row" style="font-size:20px;text-align: center;">
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/UserRegistration"><i class="fa fa-user" title="User Registration"></i></a>
                    <span><b style="text-align:center;font-size:13px">User Registration</b></span>
                </div>

            </div>
            <div class="col-md-2" >
                <div class="card" style="padding:27px">
                    <a href="/Admin/SiteMasterList"><i class="fa fa-home" title="Add Site"></i></a>
                    <span><b style="text-align:center;font-size:13px">Site List</b></span>
                </div>

            </div>
           @* <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/AddUserTask"><i class="fa fa-copy" title="Add Task"></i></a>
                </div>

            </div>*@
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/UserTaskList"><i class="fa fa-list" title="Task list"></i></a>
                    <span><b style="text-align:center;font-size:13px">Activity List</b></span>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/UserRegistrationList"><i class="fa fa-users" title="User list"></i></a>
                    <span><b style="text-align:center;font-size:13px">User List</b></span>
                </div>

            </div>
            <div class="col-md-2">
                <div class="card" style="padding:27px">
                    <a href="/Admin/LeadRegistrationList"><i class="fa fa-users" title="Lead Registration  list"></i></a>
                    <span><b style="text-align:center;font-size:13px">Lead List</b></span>
                </div>

            </div>
        </div>
    </div>
</div>


