@model SupBusiness.Models.MemberTopUp
@{
    ViewData["Title"] = "PaymentModeMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Payment Mode List</h4>
        <a href="#" class="btn btn-primary btn-round" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>
            Add Payment Mode
        </a>
    </div>
</div>

<div class="content">
    <div class="page-inner">
    
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>

                                <tr class="hdr">
                                    <th>S. No.</th>
                                    <th>Payment Mode Name</th>
                                    <th align="left" scope="col">Action</th>

                                </tr>

                            </thead>

                            <tbody>

                                @if (Model != null && Model.dtDetails != null && Model.dtDetails.Rows.Count > 0)
                                {
                                    int s = 0;
                                    for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@(s + 1)</td>
                                            <td>@Model.dtDetails.Rows[i]["PaymentMode"].ToString()</td>
                                            <td>
                                                <a href="#" title="Edit"><i class="fa fa-pencil" onclick="return EditPaymentMode('@Model.dtDetails.Rows[i]["PaymentMode"].ToString()','@Model.dtDetails.Rows[i]["Pk_Id"].ToString()')"></i></a>
                                                <a href="/Admin/PaymentModeMaster?id=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()" class="text-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        s++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="3"> No Record found !!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="PaymentModeMaster">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Add/Update Payment Mode List</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        <div class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email2"> Payment Mode</label><span style="color:red;">*</span>
                                            <input type="text" class="form-control" asp-for="PaymentMode" />
                                            <input type="hidden" asp-for="Pk_Id" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" name="Save" id="Save" onclick="return fValidate()" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    function fValidate()
    {
        if ($('#PaymentMode').val() == '' || $('#PaymentMode').val()==null)
        {
            $('#PaymentMode').focus();
            return false;
        }
    }
</script>

