@model SupBusiness.Models.SiteMaster
@{
    ViewData["Title"] = "SiteMasterList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Site  List</h4>
        <span class="text-danger">@TempData["Msg"]</span>
        <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-plus"></i>
            Add Site
        </a>
        <a href="/Admin/Dashboard" class="btn btn-primary btn-sm">

            Back
        </a>
    </div>
</div>

<div class="content">
    <div class="page-inner">
        @*<div class="page-header">
        <h4 class="page-title">Sector Master List</h4>
        @if (PermissionManager.IsActionPermit("Sector Master", ViewOptions.FormSave))
        {
        <a href="/Master/SectorMaster" class="btn btn-primary btn-round ml-auto" style="flood-color:white;"><i class="fa fa-plus"></i>Add Sector</a>
        }
        </div>*@
        <div class="row">

            @if (Model != null && Model.dtDetails != null && Model.dtDetails.Rows.Count > 0)
            {
                for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                {
                    <div class="col-md-2">

                        <div class="card" style="padding:27px">
                            <div class="row">
                                <div class="col-md-6">
                                     <a href="/Admin/AddUserTask?siteId=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()"><i class="fa fa-list" title="Add Activity "></i></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" onclick="return deleteSite('@Model.dtDetails.Rows[i]["Pk_Id"].ToString()')"><i class="fa fa-trash text-danger" title="Delete Site"></i></a>
                                </div>
                            </div>
                          
                            
                            <span><b>@Model.dtDetails.Rows[i]["SiteName"].ToString()</b></span>


                        </div>
                    </div>
             
                }
            }


        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="SiteMaster">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Add/Update Site List</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email2"> Site Name</label><span style="color:red;">*</span>
                                    <input type="text" class="form-control" asp-for="SiteName" />
                                    <input type="hidden" asp-for="Pk_Id" />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" name="Save" id="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="SiteMasterList">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Delete Site</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email2">Password</label><span style="color:red;">*</span>
                                    <input type="text" class="form-control" asp-for="Password" />
                                    <input type="hidden" asp-for="SiteId" />
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Delete" name="Delete" id="Delete" onclick="return fDelete()" />
                    </div>
                </div>
            </form>
        </div>
    </div>




</div>

<script>
    function deleteSite(pk_id)
    {
        $('#SiteId').val(pk_id);
        $('#myModalDelete').modal('show');
    }
    function fDelete()
    {
        if ($('#Password').val() == null || $('#Password').val() == '')
        {
            $('#Password').focus();
            return false;
        }
    }
</script>