@model SupBusiness.Models.MemberTopUp
@{
    ViewData["Title"] = "TopUp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Top Up</h4>
        <h4 class="page-title mb-0">@TempData["Msg"]</h4>



    </div>
</div>

<div class="content">
    <div class="page-inner">
      
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <form asp-action="TopUp">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email2">User LoginId</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="LoginId" onchange="return getUserDetails()" />
                                        <input type="hidden" asp-for="Pk_Id" />
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="email2">Name</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="Name" />
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="email2">Amount</label><span style="color:red;">*</span>
                                        <input type="text" class="form-control" asp-for="Amount " />
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="email2">Payment Mode</label><span style="color:red;">*</span>

                                        @Html.DropDownListFor(m => m.Pk_PaymentId, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "web form-control",@onclick="return fbankDetails()" })

                                    </div>
                                </div>
                                <div class="row" id="dicBankDetails" style="display:none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BankAccount">Bank Name</label><span style="color:red;">*</span>
                                            <input type="text" class="form-control" asp-for="BankName" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BankAccount">Bank Account No</label><span style="color:red;">*</span>
                                            <input type="text" class="form-control" asp-for="bankAccountNo" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BankAccount">IFSC Code</label><span style="color:red;">*</span>
                                            <input type="text" class="form-control" asp-for="IFSCCode" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="BankAccount">Attatch Ment</label><span style="color:red;">*</span>
                                            <input type="file" class="form-control" asp-for="Document" />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Save" name="Save" id="Save" />
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form asp-action="UserTaskList">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    </div>
                    <div class="modal-body">
                        <div class="card">

                            <div class="card-header">

                                <div class="card-title">Add/Update Task List </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function getUserDetails() {
            var loginId = $('#LoginId').val();
            $.ajax({
                url: '/Admin/GetUserDetails',
                data: { loginId: loginId },
                type: 'GET',
                success: function (response) {
                    if (response != null) {
                        console.log(response);
                        if (response != null) {
                            $("#Name").val(response.name);
                        }
                        else {
                            alert('Somthing went wrong');
                        }
                    }
                },
                Error: function () {

                }
            });
        }
        function fbankDetails() {
            var paimentId = $('#Pk_PaymentId').val();
            if (paimentId == "Cash") {
                $('#dicBankDetails').css("display", "none");
            }
            else {
                $('#dicBankDetails').css("display", "block");
            }
        }
    </script>


