
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="~/User/Dashboard" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard </span></a>
                </li>
               
                  @*  <li>
                        <a class="waves-effect waves-dark" href="~/Associate/BackToAdmin" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Back To Admin</span></a>
                    </li>*@
                
                
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#-" aria-expanded="false"><i class="icon-user"></i><span class="hide-menu">Task list</span></a>
                    <ul aria-expanded="false" class="collapse">
                        
                        <li><a href="~/User/TaskList">Task List</a></li>
                        
                       
                    </ul>
                </li>

             
               
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#-" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Report</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Task Report</a></li>
                       
                    </ul>
                </li>
                <li>
                    
               @* <li>
                    <a class="has-arrow waves-effect waves-dark" href="#-" aria-expanded="false"><i class="icon-notebook"></i><span class="hide-menu">My Business</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Accounts/BusinessReport">Real Estate Business</a></li>
                       

                    </ul>
                </li>*@


               
@*
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#-" aria-expanded="false"><i class="icon-earphones-alt"></i><span class="hide-menu">Support</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Support/CreateTicket">Create Ticket</a></li>
                        <li><a href="/Support/PendingTickets">Pending Ticket</a></li>
                        <li><a href="/Support/ClosedTickets">Closed Ticket</a></li>
                    </ul>
                </li>*@
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
   
</aside>
