
@{
    ViewData["Title"] = "cadBazaar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Style One Start -->
<section class="banner-style-one">
    <div class="parallax" style="background-image: url(websitecss/assets/images/pattren-3.png);"></div>
    <div class="container">
        <div class="row">
            <div class="banner-details">
                <h2>Our Projects Two</h2>
                <p>our values and vaulted us to the top of our industry.</p>
            </div>
        </div>
    </div>
    <div class="breadcrums">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="index.html">
                            <i class="fa-solid fa-house"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="current">
                        <p>Our Projects Two</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner Style One End -->
<!-- Our Project Two Start -->
<section class="gap project-style-one addition">
    <div class="container">
        <div class="row project-slider">
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-1.jpg" alt="Our Project One Image 1">
                    </figure>
                   @* <div class="project-data">
                        <h3><a href="javascript:void(0)">Life Science Center</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-2.jpg" alt="Our Project One Image 2">
                    </figure>
                   @* <div class="project-data">
                        <h3><a href="javascript:void(0)">Home building renovation</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-3.jpg" alt="Our Project One Image 3">
                    </figure>
                   @* <div class="project-data">
                        <h3><a href="javascript:void(0)">NewBridge on the Charles Dedham</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-4.jpg" alt="Our Project One Image 4">
                    </figure>
                   @* <div class="project-data">
                        <h3><a href="javascript:void(0)">Old Colony Construction Redevelopment</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-5.jpg" alt="Our Project One Image 5">
                    </figure>
                    <div class="project-data">
                        <h3><a href="javascript:void(0)">Atmosphere Affordable Housing</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-6.jpg" alt="Our Project One Image 6">
                    </figure>
                    @*<div class="project-data">
                        <h3><a href="javascript:void(0)">The Stella & Bluewater</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-3.jpg" alt="Our Project One Image 7">
                    </figure>
                    @*<div class="project-data">
                        <h3><a href="javascript:void(0)">Atmosphere Affordable Housing</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="project-post">
                    <figure>
                        <img class="w-100" src="~/websitecss/assets/images/o-p-o-2.jpg" alt="Our Project One Image 8">
                    </figure>
                    @*<div class="project-data">
                        <h3><a href="javascript:void(0)">SickKids Project Horizon - Patient Support Centre</a></h3>
                        <p>This project was successfully completed against an extremely tight programme.</p>
                        <a class="project-icon" href="#">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
 
</section>
<!-- Our Project Two End -->

