@model SupBusiness.Models.Login
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Banner Style One Start -->
<section class="banner-style-one">
    <div class="parallax" style="background-image: url(websitecss/assets/images/pattren-3.png);"></div>
    <div class="container">
        <div class="row">
            <div class="banner-details">
                <h2>Login</h2>
                <p class="text-white">our values and vaulted us to the top of our industry.</p>
            </div>
        </div>
    </div>
    <div class="breadcrums">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="/Home/Index">
                            <i class="fa-solid fa-house"></i>
                            <p class="text-white">Home</p>
                        </a>
                    </li>
                    <li class="current">
                        <p class="text-white">Login</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner Style One End -->
<!-- Login Register Start -->
<section class="gap login-register">
    <div class="container">

        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="box login">
                    <h3 class="text-white">Log In Your Account</h3>
                    <form asp-action="Login" method="post">
                        <input type="text" asp-for="LoginId" placeholder="Enter you login id">
                        <input type="password" asp-for="Password" placeholder="Password">
                        <div class="remember">
                            <div class="first">
                                <input type="checkbox" name="checkbox" id="checkbox">
                                <label for="checkbox" class="text-white">Remember me</label>
                            </div>
                            <div class="text-white">
                                <a href="/Home/UserRegistration" class="text-white">New User?</a>
                            </div>
                        </div>
                        <button type="submit" class="theme-btn"><i class="fa-solid fa-angles-right"></i> Login</button>

                    </form>
                </div>
            </div>
           
        </div>
    </div>
</section>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="WelComeModal" tabindex="-1" aria-labelledby="WelComeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WelComeModalLabel">Welcome</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <img src="~/websitecss/assets/images/wel.png" style="width: 168px;text-align: center;margin-left: 132px;" />
                <p>Login Id: <b><span id="txtLoginId"></span></b></p>
                <p>Password : <b><span id="txtPassword"></span></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Login Register End -->
<script>
    function fuserValidation() {
       
        if ($('#fistName').val() == '' || $('#fistName').val() == null) {
            $('#fistName').focus();
            return false;

        }
        if ($('#MiddleName').val() == '' || $('#MiddleName').val() == null) {
            $('#MiddleName').focus();
            return false;
        }
        if ($('#LastName').val() == '' || $('#LastName').val() == null) {
            $('#LastName').focus();
            return false;

        }
        if ($('#MobileNumber').val() == '' || $('#MobileNumber').val() == null) {
            $('#MobileNumber').focus();
            $('#MobileNumber').val('');
            return false;
        }

        $.ajax({
            url: '/Home/SaveUserRegistration',
            data: { FistName: $('#fistName').val(), MiddleName: $('#MiddleName').val(), LastName: $('#LastName').val(), MobileNumber: $('#MobileNumber').val() },
            type: 'POST',
            success: function (response) {
                if (response != null) {
                    console.log(response);
                    if (response != null) {
                        if (response.flag == "1") {
                            $("#txtLoginId").text(response.loginId);
                            $("#txtPassword").text(response.password);
                            $("#WelComeModal").modal('show');
                        }
                    }
                    else {
                        alert('Somthing went wrong');
                    }
                }
            },
            Error: function () {

            }
        });
    }
</script>
