
@{
    ViewData["Title"] = "Protfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Style One Start -->
<section class="banner-style-one">
    <div class="parallax" style="background-image: url(websitecss/assets/images/pattren-3.png);"></div>
    <div class="container">
        <div class="row">
            <div class="banner-details">
                <h2>Protfolio</h2>
               
            </div>
        </div>
    </div>
    <div class="breadcrums">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="/Home/Index">
                            <i class="fa-solid fa-house"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="current">
                        <p>Protfolio</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner Style One End -->
<!-- Login Register Start -->
<section class="gap login-register">
    @*<div class="row">
        <div class="col-md-6 align-self-right">
            <span class="float-right">
                <a href="~/websitecss/assets/images/twc_profile_2024_1.pdf" download class="btn btn-sm btn-info"><i class="fa fa-download mdi-15px"></i> Download</a>
            </span>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <iframe class="wrapper" height="1000" name="iframe" scrolling="auto" src="~/websitecss/assets/images/twc_profile_2024_1.pdf" width="100%">This option will not work correctly. Unfortunately, your browser does not support inline frames.</iframe>

        </div>
        <div class="col-md-1"></div>
    </div>
   
</section>

